/* Dark colors*/
$bg-color: #0b1318;
$fg-color: #f6f9fb;
$blue-color: #83afc9;

/* Light colors
$bg-color: #f6f9fb;
$fg-color: #0b0e15;
*/

@mixin component {
    border: 3px solid $blue-color;
    border-radius: 0.2rem;
    padding: 1.2rem 3rem;
    margin-top: 8rem;
    margin-left: 2rem;
    text-align: center;
}