/* Dark colors*/
$bg-color: #0b1318;
$fg-color: #f6f9fb;

$blue-color: #72A4C1;
$error-color: #ea6161;

/* Light colors
$bg-color: #f6f9fb;
$fg-color: #0b0e15;
*/

$screen-sm-min: 576px;
@mixin sm {
	@media (max-width: #{$screen-sm-min}) {
		@content;
	}
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

@mixin component {
	@include sm {
		padding: 0.4rem 1.5rem;
		margin: 1rem 1rem;
	}
  border: 3px solid $blue-color;
  border-radius: 0.2rem;
  padding: 1.2rem 3rem;
  margin: 1rem 2rem;
  text-align: center;
	@include flex;
}
